* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #333;
  margin: 0;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$col-width: 8.333333333333333333333%;

.col-1 {
  width: $col-width;
}

.col-2 {
  width: calc(#{$col-width} * 2);
}

.col-3 {
  width: calc(#{$col-width} * 3);
}

.col-4 {
  width: calc(#{$col-width} * 4);
}

.col-5 {
  width: calc(#{$col-width} * 5);
}

.col-6 {
  width: calc(#{$col-width} * 6);
}

.offset-1 {
  margin-left: $col-width;
}

.offset-2 {
  margin-left: calc(#{$col-width} * 2);
}

.offset-3 {
  margin-left: calc(#{$col-width} * 3);
}

.offset-4 {
  margin-left: calc(#{$col-width} * 4);
}

.offset-5 {
  margin-left: calc(#{$col-width} * 5);
}

.offset-6 {
  margin-left: calc(#{$col-width} * 6);
}

.offset-7 {
  margin-left: calc(#{$col-width} * 7);
}

.header {
  width: 100%;
  background-color: #696969;
}

.nav {
  &__link {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    color: #ababab;
    text-decoration: none;
    border: 3px solid transparent;
    padding: 15px 15px;
  }

  &__link:hover {
    border-bottom: 3px solid #ffc925;
    color: #ffffff;
  }
}

.sign_in_btn {
  background-color: #ff8900;
  color: #ffffff;
  appearance: none;
  border: 3px solid transparent;
  width: 135px;

  &:hover {
    border-bottom: 3px solid transparent;
  }
}

.user_icon {
  height: 20px;
  width: 20px;
  background: url("../pictures/user.png") no-repeat;
}

.intro {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 40px;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  color: #ff8900;
  font-size: 40px;
  margin: 0;
}

.numbers {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f5f5f5;
}

.numbers__phones {
  font-weight: bold;
  margin: 15px 40px 15px 17px;
}

.numbers__callback {
  background-color: #ff8900;
  padding: 14px;
}

.numbers__button {
  color: #ffffff;
  text-decoration: none;
  width: 200px;
}

.pictures {
  display: flex;
  margin-right: 0;
}

.pictures__btn {
  padding: 0 25px;
  appearance: none;
  border: 3px solid transparent;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bolder;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.main {
  margin-top: 40px;
}

.menu {
  background-color: #ff8900;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  height: 60px;
}

.pr-20 {
  padding-right: 20px;
}

.menu__btn {
  appearance: none;
  background-color: #db7200;
  border: none;
  width: 60px;
}

.menu__header {
  padding-left: 30px;

}

.menu__content {
  display: block;
}

.menu__item {
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 0;

  &__link {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding-left: 40px;
    color: #3b3b3b;
  }

  &__arrow {
    margin-left: auto;
    margin-right: 36px;
  }
}
